

/* Font styling */

.header h1, h2, p {
    font-family: 'merriweather';
    text-align: center;    
    }


    


/* header Styling*/

.header-style {

padding-top: 20px;
height: 50px;
width: 100%;
background-color: rgb(2, 2, 17);
color: white;
margin: auto;
}

header h1 {

font-size: 24px;;    
}
header h2 {
font-size: 30px;
padding-top: 30px;
padding-bottom: 20px;  
}
header p {

color: rgb(156, 159, 161); 
width: 85%; 
margin: auto;
padding-bottom: 20px;  
}

header {
    border-bottom: black 5px solid;
}


/* Top Form Styling*/

.container {

 display: flex;
 flex-direction: column;  
}
.container h2 {text-align: left;
padding-top: 20px;
border-top: 4px solid black;}


#form-style {
height: 70px;
background-color: rgb(211, 211, 211);
border-radius: 5px;
border: none;    
}


label {
    font-family: 'merriweather';
    color: rgb(139, 147, 155);
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 8px;
  text-align: left;
}    